body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: white;
  font-weight: bold;
  background-image: url("Images/table.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: goldenrod;
}

.btn {
  width: 150px;
  background-color: goldenrod;
  color: #016F32;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.btn:active {
  border: 3px solid greenyellow;
}

#message-el {
  font-style: italic;
}